####################################
## Files to ignore from Docker image
####################################

## OS
.ssh
.bash_history
.bash_profile
.bash_logout
.bashrc
.DS_Store

## Git
.git
.gitignore

## CI
./jenkins
JENKINSFILE

## Docker
.docker

## Development resources
dev_test_deploy_resources/
*.pem

## Terraform
.terraform/
terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

## Python
__pycache__/
.cache/
.Python

## Virtual environment
.env/
.venv/
venv/
env/

## Unit test / coverage reports
htmlcov/
.coverage
.pytest*
htmlcov/

## Other random shite you don't need
./nginx
